html {
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 48px;
  text-align: center;
}

p, li {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1px;
}

/* New CSS rules for centering and text size */
.center-text {
  text-align: center;
}
.center-container {
  text-align: center;
}

.center-table {
  margin: 0 auto;
  border-collapse: separate; /* Add cell spacing */
  border-spacing: 5px; /* Define cell spacing */
}

/* Add padding to table cells for spacing */
.center-table th,
.center-table td {
  padding: 10px;
}

.bigger-text {
  font-size: 14px;
}

html {
  background-color: #000000;
}

body {
  max-width: 600px;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 20px;
  border: 5px solid;
  border-color: #73040A;
  border-radius: 20px;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #73040A;
}

img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 293px;
}
